@import "react-alice-carousel/lib/alice-carousel.css";

.alice-carousel__dots {
    margin: 1em 0 1em 0;
}

.test-customer-slider {
    padding: 2.5em 2em 2.5em 2em;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customers-title {
    margin: 0;
    margin-top: 0.2em;
    font-weight: 900;
    padding: 0.5em 1.5em 0.3em 1.5em;
    border-bottom: 0.1em solid black;
}

.cLogo-box {
    display: flex;
    min-width: 320px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0.5em 1.5em 2em 1.5em;
}

.customerLogo {
    object-fit: fill;
    height: 8.5em;
}

@media (width <= 1366px) /* laptop */ {
    .customers-title {
        font-size: 2.25em;
    }
}

@media (width <= 990px) /* tablet */ {

}

@media (width <= 768px) /* tablet */ {

}

@media (width <= 576px) /* mobile */ { 
    .test-customer-slider {
        padding: 1.5em 2em 1.5em 2em;
    }

    .customerLogo {
        height: 5.5em;
    }
    
    .customers-title {
        font-size: 1.45em;
    }

}
