.gearBody {
    margin: 0;
    background: #363636;
    padding: 0.5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px 30px;
    padding: 4em 0;
}

.card-box-info {
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-weight: 400;
    letter-spacing: 0.10em;
    line-height: 1.6em;
}

.container-box .card-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 320px;
    background: #0d0d0d;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.container-box .card-box:hover {
    height: 370px;
}

.container-box .card-box .img-box {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #8f8f8f;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.container-box .card-box:hover .img-box {
    top: -70px;
    scale: 0.85;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container-box .card-box .img-box .gear-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-box .card-box .content-box {
    position: absolute;
    top: 250px;
    width: 100%;
    padding: 0px 20px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.container-box .card-box:hover .content-box {
    top: 130px;
    height: 250px;
}

.container-box .card-box .content-box .card-box-title {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    letter-spacing: 0.05em;
}

.container-box .card-box .content-box .card-box-info {
    color: white;
    font-size: 0.875em;
}

.container-box .card-box .content-box .card-box-btn {
    position: relative;
    top: 25px;
    display: inline-block;
    padding: 12px 25px;
    background: #292929;
    color: white;
    font-weight: 700;
    font-size: 0.75em;
    letter-spacing: 0.10em;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.4s;
    border: none;
}

.container-box .card-box .content-box .card-box-btn:hover {
    background: white;
    color: black;
}

@media (width <= 1366px) /* laptop */ {

}

@media (width <= 990px) /* tablet */ {

}

@media (width <= 768px) /* tablet */ {
    .container-box {
        padding: 3em 0;
        gap: 50px 50px;
    }

    .container-box .card-box {
        width: 250px;
        height: 220px;
    }

    .container-box .card-box:hover {
        height: 270px;
    }

    .container-box .card-box .img-box {
        width: 200px;
        height: 120px;
    }

    .container-box .card-box:hover .img-box {
        top: -50px;
    }

    .container-box .card-box .content-box {
        top: 150px;
        height: 50px;
    }

    .container-box .card-box:hover .content-box {
        top: 60px;
        height: 250px;
    }

    .container-box .card-box .content-box .card-box-title {
        font-size: 1.05em;
    }

    .container-box .card-box .content-box .card-box-info {
        color: white;
        font-size: 0.775em;
    }

    .container-box .card-box .content-box .card-box-btn {
        top: 5px;
        font-size: 0.7em;
        padding: 10px 35px;
    }
}

@media (width <= 576px) /* mobile */ {

}