.content {
    /* background-color: rgb(85, 95, 95); */
    display: flex;
    flex-direction: column;
    margin-left: 320px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (width <= 1366px) /* laptop */ {
    .content {
        margin-left: 250px;
    }
}

@media (width <= 990px) /* tablet */ {
    /* zmiana na rozwijany */
    .content {
        margin: 0;
        padding-top: 80px;
    }
}

@media (width <= 768px) /* tablet */ {

}

@media (width <= 576px) /* mobile */ {

}