:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  line-height: 1.5;
}

html,body{
  overflow-x: hidden;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

body::-webkit-scrollbar{
  display: none;
}
